/* src/components/layout/Navbar.css */
nav {
    background-color: #1a1d29;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100vw;             /* Full width */
    box-sizing: border-box;   /* Include padding inside width */
    position: relative;
    left: 0;
}

.navbar-brand {
    color: #e63946;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar-link {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
}

.navbar-link:hover {
    color: #e63946;
}

.welcome-text {
    color: #e63946;
    margin-right: 1rem;
}

.logout-button {
    background-color: #e63946;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #c1121f;
}

.navbar-logo {
    width: 150px;       /* Adjust size */
    height: auto;       /* auto aspect ratio */
    display: block;
    margin: 0 auto;     /* centers to the page */
}