html, body {
  background-color: transparent !important;
  min-height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

#root {
  background-color: #1f2937 !important;
  min-height: 100vh !important;
}

.App {
  text-align: center;
  background-color: #1f2937;
  min-height: 100vh;
}

.App-header {
  background-color: #1f2937;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-wrapper{
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background-color: transparent !important;
}

.glow-overlay {                 /* the gradient on the complete webapp */
  position: fixed;
  top: 0;
  left: 0; /* this is going to show the glow on the left side */
           /* if you want to do the right then change left --> right */
  width:80vw;
  height: 110vw;
  background: radial-gradient(
          circle at left center,
          rgba(90, 170, 255, 0.40),
          transparent 70%
  );
  filter: blur(40px);
  z-index: 0;
  pointer-events: none;     /* this is going to make sure not block your clicks */
}

.main-content {
  position: relative;
  z-index: 1;       /* this is going to make sure everything stays on the top */
  padding: 2rem;
  background-color: transparent !important;
}

.App-link {
  color: #ef4444;
}